{% extends 'default.html' %}
{% load custom_filters %}-->
<!--{% load custom_tags %} -->
{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
    <hr>
    <h2>{{ post.title }}</h2>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о новостях!" }} </h3>
   {% if object_list %}
       <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <td>Автор</td>
               <td>Титульник</td>
               <td>Текс</td>
               <td>Дата поста</td>
               <td>Категории</td>
               <td>Рейтинг</td>
           </tr> <!-- Не забываем закрыть HTML-тег строки -->

           {% for object in object_list %}

           <!-- Цикл для перебора новостей -->
               <tr>
                   <td>{{ object_list.author}}</td>
                   <td>{{ object.title }}</td>
                   <td>{{ object.text|truncatechars:20}}</td>
                   <td>{{ object_list.date}}</td>
                   <td>{{ object_list.category }}</td>
                   <td>{{ object.rating|currency }}</td>
               </tr>
           {% endfor %}
       </table> <!-- ... и таблицы -->
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}

  <a href="?page={{ page_obj.previous_page_number }}">Prev</a>

  {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.next_page_number }}">Next</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock %}
</hr>

